@import "tailwindcss";
@import "../../../public/fontawesome/css/all.css";

:root {
    --color-primary: #3b82f6;
    --color-secondary: #10b981;
    --color-text: #444f5e;
    --color-background: #f3f3f3;
    --color-border: #bababa;
    --color-panel-background: #ffffff;
    --color-button-background: #efefef;
    --color-button-background-hover: rgba(218, 218, 218, 0.71);
    --color-link: #3b82f6;
}

.dark {
    --color-primary: #60a5fa;
    --color-secondary: #34d399;
    --color-text: #f3f4f6;
    --color-background: #1f2937;
    --color-border: #3d444d;
    --color-panel-background: #243240;
    --color-button-background: rgba(255, 255, 255, 0);
    --color-button-background-hover: rgba(255, 255, 255, 0.06);
    --color-link: #ec4899;
}

.other-theme {
    --color-primary: #8b5cf6;
    --color-secondary: #ec4899;
    --color-text: #111827;
    --color-background: #f5f3ff;
    --color-panel-background: #efefef;
}

@theme inline {

}

@media (prefers-color-scheme: dark) {

}

body {
    /*background-color: #282c34;*/
    background-color: var(--color-background);
}

@layer components {
    .main-page {
        @apply grid grid-cols-5 mx-auto;
    }
    .default-panel {
        @apply grid grid-cols-1 rounded-lg text-[var(--color-text)] bg-[var(--color-panel-background)] border-[0.0625rem] border-[var(--color-border)] p-5 w-fit;
    }
    .default-button {
        @apply text-sm min-w-[38px] text-[var(--color-text)] rounded-lg bg-[var(--color-button-background)] border-[0.0625rem] border-[var(--color-border)] p-2 w-fit cursor-pointer hover:bg-[var(--color-button-background-hover)];
    }
    .default-menu-item {
        @apply text-sm min-w-[38px] text-[var(--color-text)] rounded-lg p-2 w-fit cursor-pointer hover:bg-[var(--color-button-background-hover)];
    }
    p {
        @apply text-[var(--color-text)];
    }
}
